#start-button{

}

.inline-image{
	display: inline;
}

h1{
	display: inline;
}

.panel{
	position: relative;
	top: 50px;
	text-align: center;
}

.correct-guessed-answer{
	background-color: green;
}

.incorrect-guessed-answer{
	background-color: red;
}